html {
    // typography
    font-size: 1vw;
    --bg-color: $light;
    --crystal-size: 2rem;
}

// Box sizing fix
body {
    // box model
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}

.visually-hidden {
    // positioning
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);

    // box model
    height: 1px;
    width: 1px;

    // typography
    word-wrap: normal;
    
    // visual
    overflow: hidden;
}

// hide arrows in input with number type
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.container {
    // box-model
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}